# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal

# Build files
frontend/build/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 